<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
	<%= link_to image_tag("pescado-hosted.jpg", size:"120x90", alt: "PescadoTank"), '#' , id: "logo" %>

	<nav>
	<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Knowledge Base", '/knowledge' %></li>
	<li><%= link_to "New", '/orders/new' %></li>
	<li></li>

	</nav>
</div>

</header>

